<launch>
	<!-- Robot Node and URDF -->

    	<arg name="robot_name" default="al5d"/>
    	<arg name="robot_pose" default="2 2 0"/>

    	<param name="al5d/robot_description" command="$(find xacro)/xacro '$(find al5d_simulation)/urdf/al5d.xacro' name:=$(arg robot_name) pose:='$(arg robot_pose)'" />
    	<param name="robot_description" textfile="$(find al5d_simulation)/urdf/al5d.urdf"/>
    	<node pkg="al5d_simulation" name="al5d_simulation" type="al5d_simulation_node" args="$(find al5d_simulation)/urdf/al5d.urdf"/>	

  	<!-- Combine joint values -->
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<!-- Cups -->

	<arg name="cup1pos" default="0.28 0 0.05" />
	<arg name="cup2pos" default = "0 0.28 0.05" />

	<node name="cup1" pkg="cup" type="cup_node" args="1 $(arg cup1pos)" output="screen" required="true" />
	<!--node name="cup2" pkg="cup" type="cup_node" args="2 $(arg cup2pos)" output="screen" required="true" /-->

  	<!-- Show in Rviz   -->
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find al5d_simulation)/launch/al5d.rviz"/>

</launch>
